
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.overlayOpen {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    background-color: white;
    box-shadow: -4px 0 15px rgba(0,0,0,0.1);
    z-index: 101;
    overflow-y: auto;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
.closeIcon{
    background: none;
    border: none ;
    cursor: pointer;
    font-size: 1.5rem;
}
.sidebarOpen {
    transform: translateX(0);
}

.sidebarHeader{
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
