
.main{
    padding: 0;
    margin: 0;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1),
            0 1px 2px rgba(0,0,0,0.06);
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap:3em;
    padding: 2em;
    width: 40em;
}
.toastController{
    padding: 1em 2em;
}

.toastContainer {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.btn{
    padding: 0.5em 1.5em;
    background: #fff;
    border: 1px solid black;
    border-radius: 12px;
    margin: 0.5em;
}

